body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.footer {
    margin-top: 20px;
    background-color: #eee;
    padding: 10px 10px;
}

/*
.navbar-nav form {
    padding-top: 10px;
    padding-bottom: 10px;
}
*/

/*
 * vim: sw=4 ts=4 expandtab
 */
