body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.footer {
    margin-top: 20px;
    background-color: #eee;
    padding: 10px 10px;
}

.font-38 {
    font-size: 38pt;
}

.font-37 {
    font-size: 37pt;
}

.font-36 {
    font-size: 36pt;
}

.font-35 {
    font-size: 35pt;
}

.font-34 {
    font-size: 34pt;
}

.font-33 {
    font-size: 33pt;
}

.font-32 {
    font-size: 32pt;
}

.font-31 {
    font-size: 31pt;
}

.font-30 {
    font-size: 30pt;
}

.font-29 {
    font-size: 29pt;
}

.font-28 {
    font-size: 28pt;
}

.font-27 {
    font-size: 27pt;
}

.font-26 {
    font-size: 26pt;
}

.font-25 {
    font-size: 25pt;
}

.font-24 {
    font-size: 24pt;
}

.font-23 {
    font-size: 23pt;
}

.font-22 {
    font-size: 22pt;
}

.font-21 {
    font-size: 21pt;
}

.font-20 {
    font-size: 20pt;
}

.font-19 {
    font-size: 19pt;
}

.font-18 {
    font-size: 18pt;
}

.font-17 {
    font-size: 17pt;
}

.font-16 {
    font-size: 16pt;
}

.font-15 {
    font-size: 15pt;
}

.font-14 {
    font-size: 14pt;
}

.font-13 {
    font-size: 13pt;
}

.font-12 {
    font-size: 12pt;
}

.font-11 {
    font-size: 11pt;
}

.font-10 {
    font-size: 10pt;
}

/*
.navbar-nav form {
    padding-top: 10px;
    padding-bottom: 10px;
}
*/

/*
 * vim: sw=4 ts=4 expandtab
 */
