  <div class="container  theme-showcase" role="main">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="page-header">
          <h1>{{ .Title }}</h1>
          <p>
            {{ .Date.Format "2006-01-02" }}
          </p>
          {{ partial "post/tags" . }}
        </div>
        <div>
          {{ partial "share" . }}
          {{ .Content }}
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div>
          <img src="/images/avatar-thesix-small.png" alt="Logo">
        </div>
        <div>
          {{ partial "tags" . }}
        </div>
      </div>
    </div> <!-- row -->
  </div>
<!--
vim: ts=2 sw=2 expandtab
-->
