<!DOCTYPE html>
<html lang="{{ .Language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Hugo {{ .Hugo.Version }}">
    {{ partial "keywords" . }}
    {{ partial "author" . }}

    <title>{{ .Title }}</title>

    <!-- Bootstrap -->
    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/fontawesome-all.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/theme.css" rel="stylesheet">
    <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://webstats.plagi.at/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>


<!-- Matomo Image Tracker-->
<noscript>
<img src="https://webstats.plagi.at/matomo/matomo.php?idsite=1&amp;rec=1&amp;action_name=https%3A%2F%2Fthesix.mur.at" style="border:0" alt="" />
<!-- End Matomo -->
</noscript>


<!-- End Matomo Code -->

  </head>
  <body>
<!--
vim: ts=2 sw=2 expandtab
-->
