<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ .Hugo.Generator }}" />
    <title>{{ .Title }}</title>

    <!-- Bootstrap -->
    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/fontawesome.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/theme.css" rel="stylesheet">
    <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>

    <link href="{{ .Site.BaseURL }}css/tipuesearch.css" rel="stylesheet">
    <script src="{{ .Site.BaseURL }}js/tipuesearch_content.js"></script>
    <script src="{{ .Site.BaseURL }}js/tipuesearch_set.js"></script>
    <script src="{{ .Site.BaseURL }}js/tipuesearch.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<!--
vim: ts=2 sw=2 expandtab
-->
