    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{ $title := .Title }}
            {{ $section := i18n (printf "section_%s" .Section) }}
            {{ range .Site.Menus.main }}
            <li>
              {{ if or (eq $section .Name) (eq $title .Name) }}
              <a id="active-page" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ else }}
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </li>
            {{ end }}
            {{ range .Translations }}
            <li>
              <a href="{{ .Permalink }}">
                <!-- maybe later <span class="fas fa-language fa-lg"></span> -->
                {{ .Lang }}
              </a>
            </li>
            {{ end }}
<!--
            this version switches de/en around, whichever one is the
            active .Lang comes first.  not so nice.

            {{ if .IsTranslated }}
            <li>
              <div>
                <span id="active-lang">{{ .Lang }}</span>
                {{ range .Translations }}
                <a href="{{ .Permalink }}">
                  {{ .Lang }}
                </a>
              </div>
              {{ end }}
            </li>
            {{ end }}
-->
            <!--
            <li class="dropdown">
            <a id="dropdownMenu1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">aktuell <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{ range first 15 .Site.Pages }}
              <li><a href="{{ .Permalink }}">{{ .Title }} ({{ .Date.Format "2006-01-02" }})</a></li>
              {{ end }}
            </ul>
            </li>
            -->
          </ul>
          {{ partial "navsearch" . }}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!--
vim: ts=2 sw=2 expandtab
-->
