{{ if .IsPage }}
{{ if or (eq .Type "post") (eq .Type "project") }}

<div>
<h4><span class="fa fa-share-alt"></span> {{ i18n "share_this" . }}</h4>
<a class="btn btn-primary btn-xs" target="_blank" href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}">
  <span class="fab fa-twitter"></span>
</a>
<a class="btn btn-primary btn-xs" target="_blank" href="http://reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}">
  <span class="fab fa-reddit"></span>
</a>
<a class="btn btn-primary btn-xs" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}">
  <span class="fab fa-linkedin"></span>
</a>
<a class="btn btn-primary btn-xs" target="_blank" href="http://www.stumbleupon.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}">
  <span class="fab fa-stumbleupon"></span>
</a>
<hr>
</div>

{{ end }}
{{ end }}
<!--
vim: ts=2 sw=2 expandtab
-->
