<div class="col-md-4 col-xs-12">
  <div>
    <img class="img-responsive img-rounded" src="/images/avatar.png" alt="Logo">
  </div>
  <hr>
  {{ if .IsPage }}
  {{ if eq .Type "project" }}
  <p>
    <span class="fa fa-group"></span>
    {{ $and := i18n "participants_and" }}
    {{ delimit .Params.participants ", " $and  }}
  </p>
  <p>
    <span class="fa fa-globe"></span>
    {{ .Params.location }}
  </p>
  {{ end }}
  {{ partial "single/byline" . }}
  {{ partial "single/wordcount" . }}
  {{ partial "single/tags" . }}
  {{ end }}
  {{ partial "share" . }}
  {{ partial "tagcloud" . }}
</div>
<!--
vim: ts=2 sw=2 expandtab
-->
