<!-- place links in data/social.toml -->
<div>
  {{ with .Site.Data.social.twitter }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="twitter">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.github }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="github">
      <i class="fab fa-github fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.gitlab }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="gitlab">
      <i class="fab fa-gitlab fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.keybase }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="keybase">
      <i class="fas fa-key fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.facebook }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="facebook">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.email }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" title="email">
      <i class="fa fa-envelope fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.googleplus }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="google+">
      <i class="fab fa-goolgeplus fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.linkedin }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="linkedin">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.youtube }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="youtube">
      <i class="fab fa-youtube fa-lg"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.social.paypal }}
    <a class="btn btn-primary btn-sm" href="{{ . }}" target="_blank" title="paypal">
      <i class="fa fa-paypal fa-lg"></i>
    </a>
  {{ end }}
</div>
<!--
vim: ts=2 sw=2 expandtab
-->
