<h2 id="geruecht" onclick="nextgeruecht()">Kein Gerücht?  Oje!</h2>
<script type="text/javascript" src="https://geruecht.plagi.at/js/gg3frontend.js"></script>
<h6>This rumor brought to you by <a href="https://geruecht.plagi.at/">institut hofos</a></h6>
