<h2 id="geruecht" onclick="nextgeruecht()">Kein Gerücht?  Oje!</h2>
<script type="text/javascript" src="https://plagi.at/geruecht/js/gg3frontend.js"></script>
<h6>Dieses Gerücht widmet Dir <a href="https://plagi.at/geruecht/">institut hofos</a></h6>
